COMMIT_HASH=$BITBUCKET_COMMIT_SHORT_SHA
PORT=$ENV_PORT
BASE_URL=$ENV_BASE_URL
API_BASE_URL=$ENV_API_BASE_URL
NODE_ENV=$ENV_NODE_ENV
RATE_LIMITER_POINTS=$ENV_RATE_LIMITER_POINTS
RATE_LIMITER_DURATION_IN_SECONDS=$ENV_RATE_LIMITER_DURATION_IN_SECONDS
LOGIN_LIMITER_POINTS=$ENV_LOGIN_LIMITER_POINTS
LOGIN_LIMITER_DURATION_IN_SECONDS=$ENV_LOGIN_LIMITER_DURATION_IN_SECONDS
LOGIN_LIMITER_BLOCKING_DURATION_IN_SECONDS=$ENV_LOGIN_LIMITER_BLOCKING_DURATION_IN_SECONDS
LOG_TO_CONSOLE=$ENV_LOG_TO_CONSOLE
LOG_REQUESTS=$ENV_LOG_REQUESTS
DB_HOSTNAME=$ENV_DB_HOSTNAME
DB_PORT=$ENV_DB_PORT
DB_USERNAME=$ENV_DB_USERNAME
DB_PASSWORD=$ENV_DB_PASSWORD
DB_NAME=$ENV_DB_NAME
DB_POOL_SIZE=$ENV_DB_POOL_SIZE
TYPEORM_SYNCHRONIZE=$ENV_TYPEORM_SYNCHRONIZE
TYPEORM_RUN_MIGRATIONS=$ENV_TYPEORM_RUN_MIGRATIONS
SALT_ROUNDS=$ENV_SALT_ROUNDS
PASSWORD_BASE64_REGEX=$ENV_PASSWORD_BASE64_REGEX
REFRESH_TOKEN_PUBLIC_KEY=$ENV_REFRESH_TOKEN_PUBLIC_KEY
ACCESS_TOKEN_PUBLIC_KEY=$ENV_ACCESS_TOKEN_PUBLIC_KEY
ACCESS_TOKEN_PRIVATE_KEY=$ENV_ACCESS_TOKEN_PRIVATE_KEY
REFRESH_TOKEN_PRIVATE_KEY=$ENV_REFRESH_TOKEN_PRIVATE_KEY
ACCESS_TOKEN_EXPIRES_IN=$ENV_ACCESS_TOKEN_EXPIRES_IN
REFRESH_TOKEN_EXPIRES_IN=$ENV_REFRESH_TOKEN_EXPIRES_IN
DOCS_USER=$ENV_DOCS_USER
DOCS_PASSWORD=$ENV_DOCS_PASSWORD
SUPER_ADMIN_EMAIL=$ENV_SUPER_ADMIN_EMAIL
SUPER_ADMIN_PASSWORD=$ENV_SUPER_ADMIN_PASSWORD
SENDGRID_API_KEY=$ENV_SENDGRID_API_KEY
SENDER_EMAIL_ADDRESS=$ENV_SENDER_EMAIL_ADDRESS
GOOGLE_PLACES_API_KEY=$ENV_GOOGLE_PLACES_API_KEY
GOOGLE_TRANSLATE_API_KEY=$ENV_GOOGLE_TRANSLATE_API_KEY
GOOGLE_SERVICE_ACCOUNT_KEY_LOCATION=$ENV_GOOGLE_SERVICE_ACCOUNT_KEY_LOCATION
GOOGLE_CLOUD_STORAGE_BUCKET_NAME=$ENV_GOOGLE_CLOUD_STORAGE_BUCKET_NAME
GOOGLE_CLOUD_PROJECT_ID=$ENV_GOOGLE_CLOUD_PROJECT_ID
GOOGLE_CLOUD_LOCATION_ID=$ENV_GOOGLE_CLOUD_LOCATION_ID
GCLOUD_PROJECT=$ENV_GCLOUD_PROJECT
IMAGE_FILE_SIZE_LIMIT=$ENV_IMAGE_FILE_SIZE_LIMIT
VIDEO_FILE_SIZE_LIMIT=$ENV_VIDEO_FILE_SIZE_LIMIT
AUDIO_FILE_SIZE_LIMIT=$ENV_AUDIO_FILE_SIZE_LIMIT
USE_UNIX_SOCKET=$ENV_USE_UNIX_SOCKET
DEFAULT_CASE_PASSWORD=$ENV_DEFAULT_CASE_PASSWORD